<!DOCTYPE html>
<html lang="PT-Br">
<head> 
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- Cabeçario -->
   <div class=".cabecario">
    <style>
        body {
          background-image: url(/static/img/fundo2.png);
        }
        </style>
    <img class="img" src="/static/img/logo.png" alt="logoh">

        <nav class="linkks">
        <a  href="/"target="_self">Home</a>
        | 
        <a  href="quemsomos"target="_self">Quem somos</a>
        | 
        <a  href="contatos"target="_self">contato</a>
        </nav>
    
</div>

    <div class=".texto">
        <h1>Entre em contato</h1>

        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto nostrum ipsa odio optio, hic quis perferendis, est ab esse enim officia voluptas recusandae vero nesciunt corporis facilis maxime vel.</h3>
    </div>

    <div>
        <form action="/contat.php">
            <label for="email">Seu email:</label><br>
            <input type="text" id="email" name="email" value="">
            <br>
            <label for="assunto">Assunto:</label><br>
            <input type="text" id="assunto" name="assunto" value="">
            <br>
            <label for="Descrição">Descrição:</label><br>
            <input type="text" id="Descrição" name="Descrição" value=""><br>
            <br>
            <input type="submit" value="enviar">
        </form>

    <!--Rodapé  -->
    <div class="rodape">
        <h4>
            <p>
                <p>
            Todos os direitos reservados
                </p>
            </p>
        </h4>
    </div>
    </div>
</body>
</html>