<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Cabeçario -->
    <div class="cabecario">
        <style>
            body {
              background-image: url(/static/img/fundo2.png);
            }
            </style>
        <img class="img" src="/static/img/logo.png" alt="logoh">
  
            <nav class="linkks">
            <a  href="/"target="_self">Home</a>
            | 
            <a  href="quemsomos"target="_self">Quem somos</a>
            | 
            <a  href="contatos"target="_self">contato</a>
            </nav>
        
    </div>
        <!-- Quem somos -->
        <div class="texto ">
            <h1>
                <p></p>
                <p>
                    Quem somos
                <p></p>
                <p>
            </h1>
            <h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quae praesentium. Alias recusandae laudantium iste! Sit, et inventore cupiditate quo ipsa corrupti odio? Vero, voluptates nam reiciendis maiores inventore fugiat?
                </p>
            </h4>
        </div>

        <div class="texto ">
            <h1>5 Motivos para estudar</h1>

            <h4 class="motivos">    1.Material sempre atualizado
            <p>
                    2.Tablets em sala de aula
            </p><p>
                    3.Professores renomados
            </p><p>
                    4.Universidade bem avaliada
            </p><p>
                    5.Otima localização
            </p>

            </h4>
            <div>
                <h1>Objetivos</h1>

                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, animi rem quasi quidem obcaecati veritatis atque autem ipsa non deserunt odit, aspernatur libero. Voluptatem architecto doloremque commodi consequatur labore saepe.</h4>
            </div>
        </div>

    <!--Rodapé  -->
    <div class="rodape">
        <h4>
            <p>
                <p>
            Todos os direitos reservados
                </p>
            </p>
        </h4>
    </div>

</body>
</html>